<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../../assignment.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="main">
    <form action="">
      <h2><%=assn.assn_name%></h2>
      <br>
      <h3>Submit by: <%=new Date(assn.assn_deadline).toISOString().slice(0, 16).replace('T', ' ');%></h3>

    <div class="description">
       <h3>Description:</h3>
       <br>
       <%=assn.description%>
     </div>
     <br>
     <%for (var i=0; i < filepaths.length; i++){%>
      <%=filenames[i]%>     
      <a href="<%=filepaths[i]%>" download><i class='bx bxs-download bx-hover' id="downloadbtn"></i></a>
      <br/>
      <br/>
      <embed src="<%=filepaths[i]%>" width="500px" height="500px">
      <br/>
      <br/>
     <%}%>
</form>     
      <div class="stud">
        <button onclick="location.href='/a/<%=assn.class_id%>/<%=assn.id%>/get_studresp'">Get student responses</button> 
      </div> 
</div>
</body>
</html>